header{
    .navigation {
        .link {
            &:hover {
                background: #4E342E;
            }
        }
    }
}

form {
    button:hover {
        cursor: pointer;
    }
}

.article {
        .article-link:hover {
                cursor: pointer;
                color: #EF9A9A;
                font-size: 1.1rem;
            }
}