body {
    background: #E0E0E0;
    font-family: $font-lato;
}

header {
    background: rgba(126, 126, 126, 0.3);
    #logo {
        font-family: $font-spiral;
        font-size: 3rem;
        color: white;
        text-align: center;
    }
    .navigation {
        .link {
            background: #E57373;
            li {
                color: white;
            }
        }
    }
}

.container {
    background-size: cover;
    background-repeat: no-repeat;
}

.formulaires {
    background: rgba(126, 126, 126, 0.3);
    h3 {
        color: white;
        background: rgba(126, 126, 126, 0.6);
    }
   form {
       input {
           font-size: 0.7rem;
       }
   }
}